@charset "UTF-8";

#wrap{overflow: hidden;}

#header{position: relative; background-color: #11273f;}
#header .header-wrap{max-width: 1920px; height: 123px; margin: 0 auto; position: relative;}
#header .header-wrap .btn-home{position: absolute; left: 40px; top: 40px;}

#header .header-wrap .menu{position: absolute; left: 50%; top: 44px; width: 1090px; margin-left: -545px; }
#header .header-wrap .menu li{float: left; width: 218px;}
#header .header-wrap .menu li a{position: relative; font-weight: 800; font-size: 18px; line-height: 40px; display: block; text-align: center;}
#header .header-wrap .menu li a:hover{color: #ffbc00;}
#header .header-wrap .menu li a::before{content: ""; position: absolute; left: 50%; transform: translateX(-50%); bottom: -20px; width: 0; height: 4px; background-color: #ffbc00; transition: width 0.2s ease-out;}
#header .header-wrap .menu li a:hover::before{width: 60px;}

#header .header-wrap .btn-menu{position: absolute; right: 40px; top: 30px; width: 24px; height: 24px; background: transparent; border: 0;}
#header .header-wrap .btn-menu .line{background: #ffbc00; position: absolute; left: 0; width: 20px; height: 2px; border-radius: 1px;}
#header .header-wrap .btn-menu .line1{top: 0;}
#header .header-wrap .btn-menu .line2{top: 10px;}
#header .header-wrap .btn-menu .line3{top: 20px;}
#header .header-wrap .btn-menu.on .line1{top: 10px; transform: rotate(135deg);  transition: all 0.2s ease-out;}
#header .header-wrap .btn-menu.on .line2{opacity: 0;}
#header .header-wrap .btn-menu.on .line3{top: 10px; transform: rotate(-135deg);  transition: all 0.2s ease-out;}

#header .side-menu{position: absolute; right: -390px; top: 80px; width: 390px; height: 800px; padding: 50px; box-sizing: border-box; border-radius: 30px 0 0 30px; background-color: rgb(3,11,20,0.65);}

#content{background: #0d1723 url(../images/bg.jpg) no-repeat center top; background-size: cover; padding-top: 150px;}
#content .content-wrap .main-logo{display: block; margin: 0 auto;}
#content .content-wrap{max-width: 1920px; height: 4850px; margin: 0 auto;}

/* sec 공통 */
#content .content-wrap .sec .t1{font-size: 18px; color: #ffbc00; margin-top: 30px;}
#content .content-wrap .sec .t2 {font-size: 16px; line-height: 26px; margin-top: 15px;}
#content .content-wrap .sec .t3{font-size: 20px; margin-top: 30px;}
#content .content-wrap .sec .t4{font-size: 46px; margin-top: 20px;}
#content .content-wrap .sec .t5{font-size: 60px; color: #ffbc00;}
#content .content-wrap .sec .t6{font-size: 30px; margin-top: 15px;}

#content .content-wrap .sec .box a{display: inline-block; width: 198px; height: 60px; border: 1px solid #ffbc00; font-size: 18px; line-height: 60px; color: #ffbc00; text-align: center; margin-top: 30px;}
#content .content-wrap .sec .box a:hover{background-color: #ffbc00; color: #fff; transition: all 0.3s ease-out;}

/* sec 개별 */
#content .content-wrap .sec1{width: 494px; height: 184px; margin: 290px auto 0 auto; text-align: center;}
#content .content-wrap .sec1 .tit{font-size: 34px; font-weight: 700; color: #ffbc00; padding-top: 30px;}
#content .content-wrap .sec1 .txt{font-size: 20px; line-height: 32px; padding-top: 25px;}

#content .content-wrap .sec2{width: 1140px; height: 680px; margin: 135px auto 0 auto; position: relative;}
#content .content-wrap .sec2 .img1{position: absolute; left: 114px; top: 83px;}
#content .content-wrap .sec2 .box{position: absolute; right: 0; top: 35px; width: 500px;}
#content .content-wrap .sec2 .img-list{position: absolute; left: 0px; bottom: 0; width: 100%;}
#content .content-wrap .sec2 .img-list li{float: left; width: 33.333%;  position: relative; height: 256px;}
#content .content-wrap .sec2 .img-list li img{position: absolute; left: 0; bottom: 0;}

#content .content-wrap .sec3{width: 1140px; height: 405px; margin: 0 auto; position: relative;}
#content .content-wrap .sec3 .img3{position: absolute; left: 114px; top: 40px;}
#content .content-wrap .sec3 .box{position: absolute; right: 0; top: 25px; width: 500px;}

#content .content-wrap .sec4{width: 1140px; height: 405px; margin: 0 auto; position: relative;}
#content .content-wrap .sec4 .img4{position: absolute; right: 70px; top: 85px;}
#content .content-wrap .sec4 .box{position: absolute; left: 155px; top: 35px; width: 480px;}

#content .content-wrap .sec5{width: 1200px; height: 490px; margin: 0 auto;}
#content .content-wrap .sec5 .box-list{padding-top: 70px;}
#content .content-wrap .sec5 .box-list li{float: left; width: 33.333%; text-align: center;}

#content .content-wrap .sec6{width: 1392px; padding-top: 90px; margin: 0 auto; text-align: center;}
#content .content-wrap .sec6 .box{text-align: right;}

#footer .row1{background-color: #6178a1; line-height: 42px; text-align: center; font-weight: 600;}
#footer .row2{background-color: #060f1e; padding: 20px 0; text-align: center;}
#footer .row3{background-color: #f6bf27; line-height: 53px; text-align: center; color: #fff; font-weight: 600;}